body {
  width: 100%;
}
.logo {
  width: 50px;
}

.color-blue {
  color: #001c64;
}

.btn-nav-two {
  background-color: #003087;
}
e .icon-one {
  width: 6em;
}

.border-one {
  border-left: 0.0625rem solid;
}

.light-gray {
  background-color: #faf8f5;
}

.gray {
  background-color: #f3f3f3;
}

.color-gray {
  color: #a9a7a7;
}

.yellow {
  background-color: #ffd140;
}

.fa-location-arrow {
  position: absolute !important;
  right: 10px;
  top: 10px;
}

.hover-scale {
  transition: 300ms ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.1);
}

.hover-scale-two {
  transition: 150ms ease-in-out;
}

.hover-scale-two:hover {
  transform: scale(0.9);
}

.img {
  width: 50px;
  height: auto;
}
